In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [6]:
df=pd.read_csv("C:\\Users\Jarvis\\Downloads\\click.csv")

In [23]:
df=df.drop(columns='Timestamp')
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,1
...,...,...,...,...,...,...,...,...,...
9995,41.73,31.0,61840.26,207.17,Profound executive flexibility,West Angelabury,Male,Singapore,1
9996,41.73,28.0,51501.38,120.49,Managed zero tolerance concept,Kennedyfurt,Male,Luxembourg,0
9997,55.60,39.0,38067.08,124.44,Intuitive exuding service-desk,North Randy,Female,Egypt,0
9998,46.61,50.0,43974.49,123.13,Realigned content-based leverage,North Samantha,Female,Malawi,1
9999,46.61,43.0,60575.99,198.45,Optimized upward-trending productivity,Port Jeffrey,Male,Northern Mariana Islands,1

In [25]:
x=df.iloc[:, 0:-1].values
y=df.iloc[:,-1].values

In [29]:
x[:,6]

array([1, 1, 0, ..., 0, 0, 1], dtype=object)

In [27]:
le=LabelEncoder()
x[:,4]=le.fit_transform(x[:,4])
x[:,5]=le.fit_transform(x[:,5])
x[:,6]=le.fit_transform(x[:,6])
x[:,7]=le.fit_transform(x[:,7])

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=34)

In [35]:
x_train.shape,x_test.shape

((8000, 8), (2000, 8))

In [42]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [49]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=x_train.shape[1]),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [50]:
loss_fn = tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [52]:
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate,momentum=momentum)

In [54]:
model.compile(optimizer= optimizer ,loss = loss_fn , metrics= metrics)

In [57]:
epochs=10 
batch_size=32

In [58]:
test_loss,test_acc =model.evaluate(x_test,y_test)

63/63 [==============================] - 3s 2ms/step - loss: 0.7201 - accuracy: 0.4295

In [ ]:
print("test loss :",test_loss)
print("test ac")